::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}
body .top {
  background-image: linear-gradient(270deg, rgba(187, 212, 240, 0.82) -0.45%, rgba(205, 209, 230, 0.768868) 41.03%, rgba(240, 202, 211, 0.67) 108.72%);
  text-align: center;
}
body .top div {
  padding-top: 8px;
}

nav {
  padding: 12px;
}
nav a {
  padding: 10px;
}

img {
  object-fit: cover;
}

#logo {
  width: 20%;
}

#menu {
  width: 50%;
  margin-top: 10px;
}

#options {
  width: 30%;
}
#options div {
  display: inline;
  margin: 10px;
}

.baner {
  background-color: rgba(249, 164, 184, 0.1);
  margin-bottom: 12vh;
}
.baner img {
  border-radius: 0 250px 250px 0;
  width: 90%;
  height: 100%;
  max-height: 450px;
  object-fit: cover;
}

button {
  border-radius: 30px;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  background-color: #f0cad3;
}

button:hover {
  background-color: #bbd4f0;
  color: #fff;
}

.secondButton {
  border-radius: 30px;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  background-color: #bbd4f0;
  color: white;
}

.secondButton:hover {
  background-color: #f0cad3;
  color: #404040;
}

.dogs {
  margin-bottom: 12vh;
}
.dogs .row > div {
  background-image: url("../img/srednipies.png");
  background-size: cover;
  padding-top: 200px;
  color: white;
  font-size: 37px;
  text-align: center;
  height: 500px;
}
.dogs .row > div:first-child {
  background-image: url("../img/malypies.png");
}
.dogs .row > div:last-child {
  background-image: url("../img/duzypies.png");
}

.bestsellers {
  margin-bottom: 12vh;
  padding: 5px;
}
.bestsellers p.h2 {
  margin-bottom: 50px;
}
.bestsellers button {
  width: 100%;
  margin-bottom: 30px;
}
.bestsellers img {
  width: 100%;
}

.about {
  text-align: center;
  margin: 5px;
  margin-bottom: 12vh;
}
.about .h2 {
  padding: 30px;
}
.about .row > div {
  border: 1px solid #9cc1ea;
  padding: 40px;
}
.about .row > div:first-child {
  background: linear-gradient(270deg, rgba(187, 212, 240, 0.82) -0.45%, rgba(205, 209, 230, 0.768868) 41.03%, rgba(240, 202, 211, 0.67) 108.72%);
  border: none;
  border-top-left-radius: 30px;
}
.about .row > div:last-child {
  border-bottom-right-radius: 30px;
}
.about .blocks {
  text-align: center;
}
.about .blocks > div {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.categories {
  margin-bottom: 12vh;
}
.categories .row > div {
  background-size: cover;
  height: 600px;
  text-align: center;
}
.categories .row > div p {
  vertical-align: middle;
  margin-top: 200px;
}
.categories .row > div a {
  color: #404040;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
}
.categories .spanie {
  background-image: url("../img/spanie.png");
}
.categories .posilek {
  background-image: url("../img/posilek.png");
}
.categories .spacer {
  background-image: url("../img/spacer.png");
}
.categories .podroz {
  background-image: url("../img/podroz.png");
}

.hero {
  margin-top: 22vh;
}
.hero .about2 {
  margin-top: 100px;
  background-image: linear-gradient(270deg, rgba(187, 212, 240, 0.82) -0.45%, rgba(205, 209, 230, 0.768868) 41.03%, rgba(240, 202, 211, 0.67) 108.72%);
  height: 33vh;
}
.hero .aboutPhoto {
  margin-top: -52px;
}
.hero .aboutPhoto img {
  width: 102%;
}
.hero .aboutText {
  margin-top: 70px;
}

.product {
  margin-top: 15vh;
}
.product .products {
  margin-top: 12vh;
}
.product .products div {
  padding: 10px;
}
.product .products div img {
  width: 100%;
}
.product .productsNav {
  border-bottom: 1px solid black;
}
.product .productsNav a:hover {
  font-weight: 700;
}
.product .productsNav a:active {
  font-weight: 700;
}
.product .productsNav a {
  text-decoration: none;
  color: #404040;
}

.mainSwiper {
  overflow: hidden;
}

.overwiews {
  margin-top: 22vh;
  overflow: hidden;
}
.overwiews .overwiewsCards {
  margin-top: 2vh;
}
.overwiews .overwiewsCards .overwiewCard {
  padding: 30px;
  border: 1px solid #9cc1ea;
  border-radius: 5px;
  max-width: 90%;
  margin: 15px;
}
.overwiews .overwiewsCards .overwiewCard p {
  padding: 10px;
  text-align: justify;
}
.overwiews .overwiewsCards .overwiewCard img {
  width: 90%;
  margin: 10px;
}

.blog {
  margin-top: 12vh;
}

.instagram {
  margin-top: 12vh;
  margin-bottom: 12vh;
}
.instagram div {
  margin: 0;
  padding: 0;
}
.instagram .likes {
  margin-top: 20px;
  margin-bottom: 20px;
}
.instagram .main {
  width: 100%;
}
.instagram p {
  padding: 10px;
  word-wrap: break-word;
}
.instagram p:first-child {
  padding-bottom: 40px;
}

footer {
  background-image: linear-gradient(270deg, rgba(187, 212, 240, 0.82) -0.45%, rgba(205, 209, 230, 0.768868) 41.03%, rgba(240, 202, 211, 0.67) 108.72%);
  padding-bottom: 100px;
}
footer .submenu {
  margin-top: 100px;
}
footer .submenu a {
  text-decoration: none;
  color: #404040;
}
footer .newsletter {
  background-color: white;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  width: 90%;
  margin-top: 100px;
  padding: 60px 0;
}
footer .newsletter form {
  margin-left: 30px;
}
footer .newsletter form input {
  border: none;
  border-bottom: 1px solid #404040;
}
footer .newsletter p {
  padding-left: 30px;
}
footer .newsletter p:first-child {
  padding-top: 45px;
}

.footer__social {
  display: flex;
  padding: 0;
  margin: auto 0 0;
  gap: 20px;
  list-style: none;
}

.checkBox {
  border: 1px solid #404040;
  border-radius: 40%;
}

.footerCopy {
  font-size: 12px;
  margin-top: 70px;
  padding-left: 20px;
}

.swiper-navigation {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  margin: 12px;
  z-index: 5;
}
.swiper-navigation img {
  height: 40px;
  width: auto;
}

.products-next {
  right: 0;
}
.products-next img {
  transform: rotate(180deg);
}

.blog-container {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 40px auto;
}
.blog-container .article:first-child {
  border-top-left-radius: 80px;
}
.blog-container .article:last-child {
  border-bottom-right-radius: 80px;
}

.article {
  border-radius: 5px;
  border: 1.5px solid #BBD4F0;
  padding: 20px;
}
.article .row {
  align-items: center;
}

.swiper-pagination-bullet {
  transition: 0.6s;
  background-color: transparent !important;
  border: 1px solid #a6c6eb;
  opacity: 1;
  border-radius: 16px;
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active {
  background-color: #a6c6eb !important;
  width: 32px;
  height: 15px;
}

.main-slide {
  width: 100% !important;
}

@media (min-width: 1025px) {
  #article1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
  }
  #article2 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 5;
  }
  #article3 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
  }
  #article4 {
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 5;
  }
}
@media (max-width: 1024px) {
  .blog-container {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
  }
}
@media (max-width: 690px) {
  .mainSwiper .d-flex {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .mainSwiper .d-flex .col-md-6:first-child {
    width: 100%;
    max-width: 100%;
  }
  .mainSwiper .d-flex .col-md-6:last-child {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 20px 0;
  }
}